# macOS
.DS_Store
.AppleDouble
.LSOverride

# Folders to ignore
Practice-and-Learn/
python/
3D Website/
Gear Website/
Track/
classroom_management/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
